<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VViD.Properties.Settings.KP_Tagmet_ConStr" connectionString="Data Source=ALT_DEV\MS_SQL_FOR_DEV;Initial Catalog=KP_Tagmet;User ID=Test1;Password=Test;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>